#addBoard_title{
    margin: 50px;
}
.addBoard_header hr {
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 1.5px solid rgb(197, 197, 197);
}

.addBoard_menu{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 400px;
}
.addBoard_menu h4{
    width: 150px;
    text-align: left;
    font-size: 25px;
}
.addBoard_menu p{
    text-align: left;
    font-size: 28px;
}

.addBoard_input{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.addBoardTitle, .addBoardPicture{
    width: 600px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 25px;
    margin-left: 100px;
}
.addBoardDetail{
    width: 600px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 25px;
    margin-left: 100px;
}

.addBoardAddBt {
    background-color: #D9D9D9;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    height: 50px;
    width: 150px;
    margin: 50px 0 10px 0px;
  }