#login_title{
    margin: 50px;
}
.login_header p {
    font-size: 20px;
}
.login_header hr {
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-top: 1.5px solid rgb(197, 197, 197);
}

.login_input{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.userIdLogin, .userPasswordLogin{
    width: 400px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.login_bt{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#loginBt{
    background-color: #BA9672;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    height: 50px;
    width: 350px;
    margin: 20px 0 10px 0;
}

#signUpBt{
    background-color: #A6A6A6;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    height: 50px;
    width: 350px;
    margin: 20px 0 20px 0;
}

#loginBt:hover, #signUpBt:hover {
    background-color: #cccccc;
}

.login_menu a {
    text-decoration: none;
    margin: 0 10px;
    color: rgb(41, 41, 41);
}

.login_menu a:hover {
    color: gray;
}