#myBoard_title{
    margin: 50px;
}
.myBoard_header hr {
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-top: 1.5px solid rgb(197, 197, 197);
}
.myBoard_delete_button {
    background-color: #D9D9D9;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1300px;
}

.delete_button:hover {
    background-color: #BA9672; 
}

.delete_button:disabled {
    background-color: #cccccc; 
    cursor: not-allowed;
}
